<?xml version='1.1' encoding='UTF-8'?>
<org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@143.v1b_df8b_d3b_e48">
  <scope>GLOBAL</scope>
  <id>AWS_CREDENTIALS_BASE64</id>
  <description>AWS Credentials encoded in Base64</description>
  <secret>{{ aws_credentials_base64 }}</secret>
</org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>
